div, img {
  margin: 10px;
}
.square {
  width: 100px;
  height: 50;
}
.target {
  clear: both;
  border: dashed 4px #888;
  padding: 10px;
  min-height: 50px;
  margin: 10px;
  position: relative;
}
.target .name {

}
.target.dragover {
  border: solid 4px #F00;
  background-color: #FBB;
}

.blue {
  background-color: #00F;
}
.red {
  background-color: #F00;
}



.name, .food {
  float: left;
  border: solid 1px #00F;
  padding: 3px;
}

.food {
  border: solid 1px #0F0;
}

.target.names.dragover {
  border: solid 4px #00F;
  background-color: #BBF;
}
.target.foods.dragover {
  border: solid 4px #0F0;
  background-color: #BFB;
}


.indicator {
  position: absolute;
  background-color: #BBF;
  width: 100px;
  padding: 10px;
  left: -30px;
}

.dropIndicator {
  Visibility: hidden;
  background-color: #FBB;
  padding: 10px;
  position: absolute;
  right: 0px;
}

.name.dragging {
  opacity: 0.3;
  border: dotted 1px #00F;
}

.target.images {
  height: 100px;
}

.target.images > img {
  width: 100px;
  float: left;
}

